asgiref==3.5.2
astroid==2.4.2
autopep8==1.5.4
boto3==1.24.75
botocore==1.27.75
certifi==2020.12.5
cssselect==1.1.0
d==0.2.2
Django==4.1.1
django-filter==22.1
django-storages==1.13.1
et-xmlfile==1.1.0
gunicorn==20.1.0
importlib-metadata==4.12.0
isort==5.7.0
jmespath==1.0.1
lazy-object-proxy==1.4.3
lxml==4.9.1
Markdown==3.4.1
mccabe==0.6.1
openpyxl==3.0.10
Pillow==9.2.0
pycodestyle==2.6.0
Pygments==2.13.0
pylint==2.6.0
pyquery==1.4.3
python-dateutil==2.8.2
pytz==2021.1
s3transfer==0.6.0
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
urllib3==1.26.12
whitenoise==6.2.0
wrapt==1.12.1
zipp==3.8.1
