{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi"
    />
    <meta name="description" content="Learn to have financial freedom." />
    <meta property="og:title" content="Bounce Back Finance" />
    <meta
      property="og:description"
      content="Learn to manage your debt and have financial freedom."
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://" />
    <meta property="og:url" content="https://bbf.com" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="top__socialmedia">
      <a
        class="top__socialmedia-icons"
        href="https://www.instagram.com/bounceback_finance/"
        target="_blank"
        ><ion-icon name="logo-instagram"></ion-icon
      ></a>
      <a
        class="top__socialmedia-icons"
        href="https://www.twitter.com/bouncebackfina1"
        target="_blank"
        ><ion-icon name="logo-twitter"></ion-icon
      ></a>
      <a
        class="top__socialmedia-icons"
        href="https://www.tiktok.com/@bouncebackfinance?is_from_webapp=1&sender_device=pc"
        target="_blank"
        ><ion-icon name="logo-tiktok"></ion-icon
      ></a>
      <a
        class="top__socialmedia-icons"
        href="https://www.linkedin.com/in/michelle-bounceback-finance-917533210/"
        target="_blank"
        ><ion-icon name="logo-linkedin"></ion-icon
      ></a>
      <a
        class="top__socialmedia-icons"
        href="mailto:bouncebackfin@gmail.com"
        target="_blank"
        ><ion-icon name="mail-outline"></ion-icon
      ></a>
    </div>
    <div class="top__funnel">
      <a class="a" href="#" target="_blank"
        >Take control of your <em>debt</em></a
      >
    </div>
    <nav class="nav collapsible">
      <div class="top">
        <img
          class="top__brand animate__animated animate__bounce"
          src="{% static 'images/logo.png' %}"
          alt=""
        />
        <h1 class="top__heading">BounceBack</h1>
      </div>
      <svg class="icon icon--white nav__toggler">
        <use href="{% static 'images/sprite.svg' %}#menu"></use>
      </svg>
      <ul class="list nav__list collapsible__content">
        <li class="nav__item"><a href="#" class="a">Courses</a></li>
        <li class="nav__item">
          <a
            href="https://bouncebackfin.activehosted.com/f/3"
            target="_blank"
            class="a"
            >Subscribe</a
          >
        </li>
        <li class="nav__item"><a href="#" class="a">Blog</a></li>
        <li class="nav__item"><a href="#" class="a">Testimonials</a></li>
        <li class="nav__item"><a href="#" class="a">Log In</a></li>
      </ul>
    </nav>
    <section class="block container block-domain">
      <header class="block__header">
        <h2>Financial freedom is possible!</h2>
      </header>
      <form class="input-group">
        <input
          type="text"
          class="input"
          list="content"
          autocomplete="off"
          onkeyup="search_bar()"
          placeholder="Search..."
        />
        <button class="btn btn--accent">
          <svg class="icon icon--white" id="input__btn-icon">
            <use href="{% static 'images/sprite.svg' %}#search"></use>
          </svg>
        </button>
        <datalist id="content">
          <option>Blog</option>
          <option>Courses</option>
          <option>Videos</option>
          <option>Connect</option>
          <option>Log In</option>
          <option>Testimonials</option>
        </datalist>
      </form>
    </section>
    <figure class="featured container">
      <img
        class="featured--image"
        src="{% static 'images/planner.jpg' %}"
        alt="notepad"
      />
      <figcaption class="featured--caption"><h2>Featured</h2></figcaption>
    </figure>
    <section class="block container">
      <header class="block__header">
        <h2 data-aos="zoom-in">Courses That Will Help You Gain Freedom!</h2>
        <p>You dont have to go through this alone</p>
      </header>
      <article class="grid grid--1x2 feature" data-aos="fade-right">
        <div class="feature__content">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use href="{% static 'images/sprite.svg' %}#easy"></use>
            </svg>
          </span>
          <h3 class="feature__heading">Friendly One on One service</h3>
          <p>Budgeting, Business, Auditing, Debt Management Consultations</p>
          <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
          <img
            class="feature__image-circles feature"
            data-aos="fade-left"
            src="{% static 'images/happy-working.jpg' %}"
            alt=""
          />
        </picture>
      </article>
      <article class="grid grid--1x2 feature">
        <div class="feature__content" data-aos="fade-left">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use href="{% static 'images/sprite.svg' %}#computer"></use>
            </svg>
          </span>
          <h3 class="feature__heading">Online courses to fit your schedule</h3>
          <p>Self paced courses, with support coaches.</p>
          <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
          <img
            class="feature__image-circles feature"
            data-aos="fade-right"
            src="{% static 'images/typing.jpg' %}"
            alt=""
          />
        </picture>
      </article>
      <article class="grid grid--1x2 feature">
        <div class="feature__content" data-aos="fade-right">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use href="{% static 'images/sprite.svg' %}#clock"></use>
            </svg>
          </span>
          <h3 class="feature__heading">Expert Support</h3>
          <p>
            Our coaches have over 7 years of experience managing the accounts of
            both large businesses and individuals.
          </p>
          <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
          <img
            class="feature__image-circles feature"
            data-aos="fade-left"
            src="{% static 'images/notes.jpg' %}"
            alt=""
          />
        </picture>
      </article>
    </section>
    <section class="block container block-plans">
      <div class="grid grid--1x3">
        <div class="plan">
          <div class="card card--secondary">
            <header class="card__header">
              <h3 class="plan__name">Debt Management</h3>
              <span class="plan__price">$2,000</span>
              <span class="plan__billing-cycle">/Once</span>
              <span class="badge badge--secondary badge--small">15% OFF</span>
              <span class="plan__description">Pay in full</span>
            </header>
            <div class="card__body">
              <ul class="list list--tick">
                <li class="list__item">Seasonal brochures</li>
                <li class="list__item">Monthly consultations</li>
                <li class="list__item">Taylored budget plan</li>
                <li class="list__item">End of year audit</li>
              </ul>
              <button class="btn btn--outline btn--block">Buy Now</button>
            </div>
          </div>
        </div>
        <div class="plan plan--popular">
          <div class="card card--primary">
            <header class="card__header">
              <h3 class="plan__name">Debt Management</h3>
              <span class="plan__price">$350</span>
              <span class="plan__billing-cycle">/Monthly</span>
              <span class="badge badge--primary badge--small">0% OFF</span>
              <span class="plan__description">Payment plan</span>
            </header>
            <div class="card__body">
              <ul class="list list--tick">
                <li class="list__item">Monthly consultations</li>
                <li class="list__item">Taylored budget plan</li>
              </ul>
              <button class="btn btn--outline btn--block">Buy Now</button>
            </div>
          </div>
        </div>
        <div class="plan">
          <div class="card card--secondary">
            <header class="card__header">
              <h3 class="plan__name">Consultations</h3>
              <span class="plan__price">$100</span>
              <span class="plan__billing-cycle">/45 min</span>
              <span class="badge badge--secondary badge--small">0% OFF</span>
              <span class="plan__description">One time consultations</span>
            </header>
            <div class="card__body">
              <ul class="list list--tick">
                <li class="list__item">Debt management</li>
                <li class="list__item">Budget analysis</li>
                <li class="list__item">Business consultation</li>
              </ul>
              <a
                href="https://bouncebackfinance.square.site/"
                target="_blank"
                class="a"
              >
                <button class="btn btn--outline btn--block">Buy Now</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="callout callout--primary callout-signup">
        <div class="grid grid--1x3">
          <form action="https://formspree.io/f/xwkzbavj" method="POST">
            <input
              type="text"
              class="input input--form"
              placeholder="Name"
              name="name"
            />
            <input
              type="text"
              class="input input--form"
              placeholder="Email"
              name="email"
            />
            <button type="submit" class="btn btn--accent btn--stretched">
              Subscribe
            </button>
          </form>
        </div>
      </div>
    </div>
    <footer class="block block--dark footer">
      <div class="container grid footer__sections">
        <section class="collapsible collapsible--expanded footer__section">
          <div class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">Courses</h2>
            <svg class="icon icon--white collapsible__chevron">
              <use href="{% static 'images/sprite.svg' %}#chevron"></use>
            </svg>
          </div>
          <div class="collapsible__content">
            <ul class="list">
              <li><a href="#">Video Courses</a></li>
              <li><a href="#">One on One sessions</a></li>
              <li><a href="#">Discovery call</a></li>
            </ul>
          </div>
        </section>
        <section class="collapsible footer__section">
          <div class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">Company</h2>
            <svg class="icon icon--white collapsible__chevron">
              <use href="{% static 'images/sprite.svg' %}#chevron"></use>
            </svg>
          </div>
          <div class="collapsible__content">
            <ul class="list">
              <li><a href="#">About</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </div>
        </section>
        <section class="collapsible footer__section">
          <div class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">Support</h2>
            <svg class="icon icon--white collapsible__chevron">
              <use href="{% static 'images/sprite.svg' %}#chevron"></use>
            </svg>
          </div>
          <div class="collapsible__content">
            <ul class="list">
              <li><a href="#">Contact</a></li>
              <li><a href="#">Knowledge Base</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </div>
        </section>
        <section class="collapsible footer__section">
          <div class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">Other services</h2>
            <svg class="icon icon--white collapsible__chevron">
              <use href="{% static 'images/sprite.svg' %}#chevron"></use>
            </svg>
          </div>
          <div class="collapsible__content">
            <ul class="list">
              <li><a href="#">BounceBack Events</a></li>
              <li><a href="#">Chic Outlook</a></li>
            </ul>
          </div>
        </section>
        <section class="footer__brand">
          <img src="{% static 'images/logo.png' %}" alt="Logo" />
          <p class="footer__copyright">BounceBackFinance</p>
        </section>
      </div>
    </footer>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
